.App{
  font-family:'Times New Roman', Times, serif;
}
pre{
  font-size:100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btnsubmit{
  height: 37px;
  width: 220px;
  font-size: 20;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 120%;
  padding: 2px;
}
.fontfamily{
  font-family: "Stencil";
  margin-left: 130px;
  margin-top: 70px;
  color: white;
  font-size:170%;
  text-align: center;
 
}
.font{
  font-family: "Arial";
  margin-left: 170px;
  margin-right: 20px;
  color: rgb(150, 178, 237);
  font-size: 80%;
  
 
}
body {
  background-image: url("./resources/background.jfif");
  background-size: cover;
  background-repeat: no-repeat;
}
img{
  position: absolute;
 top: 140px;
 left: 390px;
 height: 330px;
 width: 330px;
}
h2{
  margin-left: 90px;
}
.box1{
                
  border-radius: 30px;
  height: 470px;
  width: 470px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 650px 450px;
  margin-top: 100px ;
  position: fixed;
  padding-top: 35px;
  padding-left: 50px;
}
.box2{
 
  border-radius:0px 30px 30px 0px;
  border-color: rgb(43, 90, 191);
  height: 470px;
  width: 390px;
  background-color: rgb(43, 90, 191);
  margin: 100px 350px;
  position: fixed;
}
.box2.box{
  background-image: url(./resources/user_forgot_image.png);
  background-repeat: no-repeat;
  background-size: cover;

}
label{
  font-size: 110%;
}

  
